<div class="column is-one-quarter mb-6 mt-3r">
    
    <div class="columns">
        <div class="column">
            <div class="card card-border">
                <div class="card-image">
                    <figure class="image">
                        <a class="" href="/listing/{{id}}">
                            <img src="{{img_url}}" alt="{{img_url}}" />
                        </a>
                    </figure>
                </div>
            </div>
            <p class="mt-3">{{product_name}}</p>
            <p>{{description}}</p>
        </div>
    </div>
</div>